.products-categories-landing {
  margin-top: 15px;
  margin-bottom: 30px;
  .subcategories-list-wrapper {
    height: 100%;
    @include flex();
    flex-direction: column;
    justify-content: stretch;
    background: #fff;
    border: 1px solid $borderColorLight;
    @include box-shadow(0, 0, 5px, $borderColor);
    .subcategories-list-pic {
      background-position: top right;
      background-size: cover;
      position: relative;
      min-height: 100px;
      flex-grow: 1;
      @include flex();
      justify-content: center;
      align-items: center;
      .category-title {
        margin: 0;
        font-size: 16px;
        padding: 0 20px;
        line-height: 45px;
        font-weight: 500;
        color: $txtColor;
        background: $mainColor1;
        border: 4px solid #fff;
        @include border-radius(9px);
      }
    }
    .subcategories-list {
      list-style: none;
      padding: 15px 30px;
      margin: 0;
      .subcategories-list-item {
        .text {
          font-size: 14px;
          color: $txtColor;
          font-weight: normal;
          line-height: 40px;
          margin: 0;
        }
      }
    }
  }
  .subcategories-latest-products {
    margin-top: 60px;
    margin-bottom: 60px;
    .subcategories-pic {
      background-size: cover;
      background-position: top right;
      height: calc(100% - 30px);
    }
    .btn.btn-more {
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      width: calc(20% + 30px);
      /*float: left;*/
      /*padding: 15px 0 0;*/
      position: absolute;
      left: 20px;
      bottom: -45px;
      line-height: 50px;
      height: 50px;
      background: $accentColor;
      @media(max-width: 1199.98px) and (min-width: 992px) {
        width: calc(26% + 30px);
      }
      @media(max-width: 991.98px) and (min-width: 768px) {
        width: calc(40% + 30px);
      }
      @media(max-width: 767.98px) and(min-width: 576px) {
        width: calc(80% + 30px);
      }
      @media(max-width: 575.98px) {
        display: none;
      }
    }
    .row {
      flex-wrap: nowrap;
      min-width: 100%;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      @media (max-width: 1199px) {
        padding-bottom: 10px;
        overflow: auto;
      }
    }
  }
  .categories-description {
    font-size: 14px;
    line-height: 25px;
    color: $txtColor;
    text-align: justify;
    p{
      color: $txtColor;
    }
    a{
      color: $mainColor3;
    }
    ul {
      margin: 30px 0;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
    @media(min-width: 1200px) {
      padding-left: 60px;
    }
  }
  .most-visited-articles {
    .title-wrapper {
      margin-bottom: 0px;
      padding-right: 58px;
      .title {
        font-size: 17px;
        &:before {
          background: $mainColor3;
        }
      }
    }
    .article-item {
      padding: 10px 0;
      line-height: 21px;
      .article-title {
        font-size: 13px;
        font-weight: 500;
        color: $txtColor;
      }
      .article-category {
        font-size: 11px;
        color: $mainColor3;
      }
      .article-date {
        font-size: 11px;
        color: $txtColorLight;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
      }
    }
  }
  @media(max-width: 991.98px) {
    margin-top: 185px;
  }
  @media(max-width: 767.98px) {
    .subcategories-latest-products {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .most-visited-articles {
      padding-top: 30px;
    }
  }
  @media(max-width: 575.98px) {
    .subcategories-latest-products {
      .subcategories-pic {
        margin-bottom: 15px;
        height: 100px;
        background-position: bottom right;
      }
    }
    .most-visited-articles {
      padding-top: 0;
    }
  }
  @media(max-width: 575.98px) and (min-width: 450px) {
    .subcategories-latest-products .subcategories-pic {
      height: 200px;
    }
  }

  @media(max-width: 449.98px) {
    .subcategories-latest-products {
      margin-top: 0;
      margin-bottom: 0;
      .subcategories-pic {
        height: 150px;
      }
    }
  }
}