.contact-page {
  padding-top: 60px;
  text-align: center;
  .form-group {
    textarea.form-control {
      height: 265px;
    }
    .message{
      height:15px;
      margin:0;
      bottom:-20px;
      padding-right: 15px;
      &:before{
        right:0;
      }
    }
  }
  .btn.submit {
    height: 50px;
    line-height: 50px;
  }
  #map {
    height: 400px;
    margin-top: 60px;
  }
  .contact-info {
    margin: 60px auto 30px;
    text-align: center;
    .icon {
      margin-bottom:10px;
      i {
        color: $mainColor2;
        font-size: 45px;
      }
    }
    .desc{
      font-size:14px;
    }
    .number{
      direction:ltr;
    }
  }
  @media(max-width: 991.98px){
    padding-top:30px;
  }
}