.breadcrumb {
  background: none;
  padding: 0;
  margin: 15px 0 30px;
  text-align: right;
  * {
    font-size: 12px;
    font-weight: 400;
    color: $lightGrey1;
    margin: 0;
    @include transition(all,0.3s);
  }
  li {
    a {
      padding-left: 10px;
      margin-left: 10px;
      display:block;
      position:relative;
      &:hover{
        *{
          color:$mainColor2;
        }
      }
    }
    &:not(:last-child) {
      a:after {
        content: '/';
        position:absolute;
        left:0;
        top:0;
      }
    }
  }
}
