$mainColor1: #fa2a20;
$mainColor1Medium: #70b9ff;
$mainColor1Light: #F7E294;
$mainColor2Light: #d1d1b2;
$mainColor2: #1E3264;
$mainColor3: #f55a82;
$accentColor:#fa2a20;
$darkGrey: #1e1e1e;
$grey: #3c3c3a;
$mediumGrey: #52524f;
$lightGrey1: #A3A29F;
$lightGrey2: #DEDEDD;
$lightGrey3: #f1f1f1;
$iconGrey: #787878;
$btnColor: #F9F9F9;
$borderColor: #c5c6c8;
$borderColorLight: #e8e9e9;
$tableHeaderColor:#f4f4f4;
$bodyBackground: #fafafa;
$txtGrey: #AAB3B9;

$txtColor: #2d3033;
$txtColor4d: #4d4d4d;
$txtColorLight: #8a8d90;
$bgGrey: #ebebeb;
$grey99: #999999;
$grey33: #333333;

$selectedRatingStar: #ff8226;
$error-color-1: #9e2e32;
$success-color-1: #339e48;